@font-face {
    font-family: "Roboto";
    src: url("./src/fonts/roboto/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Oranienbaum";
    src: url("./src/fonts/orn/Oranienbaum-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    background: #000;
    color: white;
    font-family: Roboto, sans-serif;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Oranienbaum, sans-serif;
}

header {
    justify-content: space-between;
    max-height: 200px;
    color: white;
    font-size: 22px;
    min-width: 320px;
    max-width: 1120px;
    width: 100%;
    font-family: Oranienbaum, sans-serif;
    background: #000;
    box-sizing: border-box;
}

.fixed {
    /* fixed on top */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

header > ul {
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.header__icons > img {
    width: 40px;
    height: 40px;
}

.header__icons > img:last-child {
    width: 32px;
}

.header__phones {
    font-size: 16px;
}

.header__phones > p {
    margin: 0;
}

section {
    background: white;
    max-width: 1120px;
    min-width: 320px;
    margin: 0 auto;
    color: black;
    overflow: hidden;
}

.screen_1 {
    max-width: 1120px;
    min-width: 320px;
    min-height: 600px;
    max-height: 90vh;
    background: url("./src/img/bg-main.png") no-repeat black;
    background-size: 1400px;
    color: white;
    #background: rgba(0, 0, 0, 1);
}


.screen_1__logo {
    position: relative;
    padding-left: 20px;
}

.screen_1__logo > h2 > span {
    display: block;
    color: darkgoldenrod;
    text-decoration: underline;
}

.screen_2 {
    overflow: hidden;
}

.screen_2__red-label {
    position: relative;
    left: -40px;
    top: 28px;
    background: firebrick;
    color: white;
    width: 160px;
    text-align: center;
    transform: rotate(-45deg);
}

th {
    background: goldenrod;
    border: 2px solid orange !important;
}

tbody, thead {
    border: 2px solid orange;
}

td {
    text-align: center;
    background: gold;
    border: 2px solid orange;
}

tr {
    background: gold;
    border: 2px solid orange;
}

td > span {
    border: 1px solid black;
    padding: 8px;
}

.card {
    border: none;
}

.card_pocket {
    border: 1px solid lightgray;
    margin-top: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.card_pocket:hover {
    transform: scale(1.1);
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.btn_pocket {
    border: none;
}

.screen_5 > div > div > div > a {
    cursor: pointer;
}

footer {
    width: 100%;
    max-width: 1120px;
    min-width: 320px;
    text-align: center;
}

footer > ul {
    list-style: none;
    text-align: start;
}

.footer__button {
    background: transparent;
    color: white;
    border: 1px solid white;
    transition: 0.3s;
    width: 100px;
    margin: 0 auto !important;

}

.footer__button:hover {
    background: white;
    color: black;
    border: 1px solid gray;
}


@media (max-width: 968px) {
    header {
        display: block;
        flex-direction: column;
        justify-content: flex-start;
        max-height: 100px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    header > ul {
        justify-content: center;
        flex-direction: row;
        gap: 4px 20px;
        padding: 0 12px;
    }

    .header__icons {
        display: flex;
        justify-content: center;
    }

    .header__phones {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .screen_1 {
        background: #000 url("./src/img/bg-main-ok.png") center no-repeat;
        background-size: 400px;
        height: 400px;
        min-height: 400px;
    }


    .screen_1__logo {
        background: rgba(0, 0, 0, 0.85);
        padding: 24px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

#top-menu-hook-border {
    position: absolute;
    top: 101vh;
}